<div class="container-fluid ">
    <div class="row seccion-uno">
        <div id="sobrenosotros" class="col-7 sobrenosotros scroll_section">
            <h4>Sobre Nosotros</h4>
            <div class="container-fluid">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis tempore quasi reiciendis,
                    distinctio at dolores repudiandae error a libero et corrupti mollitia velit voluptatum, iure,
                    fugiat
                    eos provident labore nulla.
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis tempore quasi reiciendis,
                    distinctio at dolores repudiandae error a libero et corrupti mollitia velit voluptatum, iure,
                    fugiat
                    eos provident labore nulla.
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis tempore quasi reiciendis,
                    distinctio at dolores repudiandae error a libero et corrupti mollitia velit voluptatum, iure,
                    fugiat
                    eos provident labore nulla.
                </p>
            </div>
        </div>
        <div id="novedades" class="col-sm-5 listadonovedades scroll_section">
            <h4>Novedades</h4>
            <div>
                <ul class="linovedades">
                    {{#each novedades}}
                    <li>
                        <a href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{id}}"><img
                                src="/images/img_novedades_fondo.jpg"> {{titulo}} </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <!-- Modal-->
        {{#each novedades}}
        <div class="modal fade" id="staticBackdrop{{id}}" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" style="background-color: #78ACC1;">
                    <div class="modal-header">
                        <h3 class="modal-title" id="staticBackdropLabel"> {{titulo}} </h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="background-color: #98BFD0;">
                        <h5> {{subtitulo}} </h5>
                        <p> {{cuerpo}} </p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<!--Catalogo-->
<div class="container-fluid">
    <div id="productos" class="row seccion-dos scroll_section">
        <h4 class="productos">Productos</h4>
        <div class="container-fluid">
            <div class="imgcatalogo">
                <div>
                    <img class="imgcatalogo" src="https://fakeimg.pl/250x300/78acc1/5A9BAD?text=Prod." />
                </div>
                <div>
                    <img class="imgcatalogo" src="https://fakeimg.pl/250x300/78acc1/5A9BAD?text=Prod." /></a>
                </div>
                <div>
                    <img class="imgcatalogo" src="https://fakeimg.pl/250x300/78acc1/5A9BAD?text=Prod." /></a>
                </div>
                <div>
                    <img class="imgcatalogo" src="https://fakeimg.pl/250x300/78acc1/5A9BAD?text=Prod." /></a>
                </div>
                <div>
                    <img class="imgcatalogo" src="https://fakeimg.pl/250x300/78acc1/5A9BAD?text=Prod." /></a>
                </div>
                <div>
                    <img class="imgcatalogo" src="https://fakeimg.pl/250x300/78acc1/5A9BAD?text=Prod." /></a>
                </div>
                <div>
                    <img class="imgcatalogo" src="https://fakeimg.pl/250x300/78acc1/5A9BAD?text=Prod." /></a>
                </div>
                <div>
                    <img class="imgcatalogo" src="https://fakeimg.pl/250x300/78acc1/5A9BAD?text=Prod." /></a>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto productos">
                    <a href="/productos" target="_blank" class=" btn productos" type="button">Ver todo</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Sección 3-->
<div class="container-fluid">
    <div id="secciontres" class="row seccion-tres scroll_section">
        <div class="col-sm-5 staff" style="margin-top: 35px;">
            <h4>¡Conoce al equipo!</h4>
            <div>
                <div id="carouselExampleCaptions" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://fakeimg.pl/600x400/98bfd0/5A9BAD?text=staff" class="d-block w-100"
                                alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Nombre 1</h5>
                                <p>Encargade de...</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://fakeimg.pl/600x400/98bfd0/5A9BAD?text=staff" class="d-block w-100"
                                alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Nombre 2</h5>
                                <p>Encargade de...</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://fakeimg.pl/600x400/98bfd0/5A9BAD?text=staff" class="d-block w-100"
                                alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Nombre 3</h5>
                                <p>Encargade de...</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-7" >
            <div class="container-fluid">
                <h4>Consultas</h4>
                <div id="secciontres" class="row seccion-tres scroll_section" style="padding-top: 0;">
                    <div class="consultas">
                        <div>
                            <h7>¿Te quedó alguna duda? ¡No te preocupes!
                                Completá este formulario para que algún miembro del
                                equipo te la resuelva lo más rápido posible.
                            </h7>
                        </div>
                        <form class="row g-3" action="/" method="post">
                            <div class="col-md-6 ">
                                <label for="nombre" class="form-label"></label>
                                <input type="text" class="form-control input" id="nombre" name="nombre"
                                    placeholder="Ingresa tu nombre">
                            </div>
                            <div class="col-md-6 ">
                                <label for="telefono" class="form-label"></label>
                                <input type="text" class="form-control input" id="telefono" name="telefono"
                                    placeholder="Ingresa tu telefono">
                            </div>
                            <div class="mb-3 formulario">
                                <label for="email" class="form-label"></label>
                                <input type="email" class="form-control input" id="email" name="email"
                                    placeholder="Ingresa tu correo: ejemplo@email.com">
                            </div>
                            <div class="mb-3 formulario">
                                <label for="mensaje" class="form-label"></label>
                                <textarea class="form-control input" id="mensaje" name="mensaje" rows="4"
                                    placeholder="Deja tu consulta"></textarea>
                            </div>
                            <div class="g-3 formulario">
                                <button type="enviar" class="btn btn-outline-dark">Enviar</button>
                                {{message}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row ">
                <h4 style="margin-top: 15px;">¡Vení a visitarnos!</h4>
                <div id="visitanos" class="ubicacion col-sm-5 scroll_section">
                    ¿No te gusta comprar de forma online? ¡No te preocupes!
                    <br>
                    En Wisteria Clothing contamos con un
                    espacio físico que montamos cada 15 días en donde vas a
                    poder ver los productos que tengamos en el momento.
                    <br>
                    ¡Revisa las novedades o seguinos en nuestras redes para enterarte las fechas!
                    <br>
                    <br>
                    <b><i class="fa-solid fa-location-dot fa-xl"></i> Av. José Equiza 4102-4200, B1759LTP González Catán, Provincia de Buenos Aires</b>
                </div>
                <div class="ubicacion col-7 container-fluid">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52439.432495964276!2d-58.67239177101524!3d-34.76907924271356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc380d7e97857%3A0xa31b722a18c657e9!2sPlaza%20Cat%C3%A1n!5e0!3m2!1ses!2sar!4v1726000188154!5m2!1ses!2sar"
                        width="675" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>